@import 'https://fonts.googleapis.com/css?family=Yatra+One';
/* Mixins */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* End mixins */
* {
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 40%;
  border: 2px solid #000;
  background-color: #eaeaea;
  padding: 3em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  font-family: 'Yatra One', cursive;
}
#wrapper header {
  text-align: center;
  margin-bottom: 3em;
}
#wrapper header h1 {
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
  font-size: 3em;
}
#wrapper .row {
  margin-top: 0.5em;
  zoom: 1;
}
#wrapper .row:before,
#wrapper .row:after {
  content: "";
  display: table;
}
#wrapper .row:after {
  clear: both;
}
#wrapper .row button,
#wrapper .row input {
  font-size: 3em;
  border: none;
}
#wrapper .row .col {
  float: left;
}
#wrapper .row .col h4 {
  text-align: center;
  font-size: 2em;
}
#wrapper .row .col.left {
  width: 70%;
}
#wrapper .row .col.left input {
  width: 90%;
  padding: 0.3em 3%;
}
#wrapper .row .col.right {
  width: 30%;
}
#wrapper .row .col.right .counter {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
#wrapper .row .col.right .counter button,
#wrapper .row .col.right .counter input {
  padding: 0.3em 0;
}
#wrapper .row .col.right .counter input {
  width: 46%;
  margin-right: 2%;
  margin-left: 2%;
}
#wrapper .row .col.right .counter button {
  width: 25%;
}
#wrapper .row .col.right .counter button.plus {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
#wrapper .row .col.right .counter button.minus {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
#wrapper .row #addPlayer {
  font-size: 3em;
  padding: 2% 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 0.5em;
}
