@import 'https://fonts.googleapis.com/css?family=Yatra+One';

@border-color: #000;
@font-size-button: 3em;

/* Mixins */
.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* End mixins */

* {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 40%;
  border: 2px solid @border-color;
  background-color: #eaeaea;
  padding: 3em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  font-family: 'Yatra One', cursive;
  header {
    text-align: center;
    margin-bottom: 3em;
    h1 {
      text-transform: uppercase;
      border-bottom: 1px solid @border-color;
      padding-bottom: 0.3em;
      margin-bottom: 0.3em;
      font-size: @font-size-button;
    }
  }
  .row {
    margin-top: 0.5em;
    .clearfix;
    button, input{
      font-size: @font-size-button;
      border: none;
    }
    .col {
      float: left;
      h4 {
        text-align: center;
        font-size: 2em;
      }
      &.left {
        width: 70%;
        input {
          width: 90%;
          padding: 0.3em 3%;
        }
      }
      &.right {
        width: 30%;
        .counter {
          width: 100%;
          margin-right: auto;
          margin-left: auto;
          button, input {
            padding: 0.3em 0;
          }
          input {
            width: 46%;
            margin-right: 2%;
            margin-left: 2%;
          }
          button {
            width: 25%;
            &.plus{
              border-top-left-radius: 0.25em;
              border-bottom-left-radius: 0.25em;
            }
            &.minus{
              border-top-right-radius: 0.25em;
              border-bottom-right-radius: 0.25em;
            }
          }
        }
      }
    }
    #addPlayer{
      font-size: @font-size-button;
      padding: 2% 5%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 0.5em;
    }
  }
}


