@import 'https://fonts.googleapis.com/css?family=Yatra+One';
* {
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 40%;
  border: 2px solid #000;
  background-color: #eaeaea;
  padding: 3em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5em;
  font-family: 'Yatra One', cursive;
}
#wrapper header {
  text-align: center;
}
#wrapper header h1 {
  text-transform: capitalize;
  border-bottom: 1px solid #000;
  padding-bottom: 0.3em;
  margin-bottom: 0.3em;
}
